<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Edito.Properties.Settings.EditoConnectionString" connectionString="server=lab007.2isa.org;port=33007;UID=root;PWD=7852lab007;database=Edito" />
    </connectionStrings>
</configuration>